# Ignore Visual Studio / IDE files
.vs/
.vscode/
*.user
*.suo
*.userosscache

# Build outputs
bin/
obj/
**/bin/
**/obj/
publish/
artifacts/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg

# Logs
*.log

# OS
*.DS_Store

# Packages
packages/
